@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

/* 🔥 THIS FIXES THE WHITE BOTTOM ISSUE */
html, body {
  min-height: 100%;
  margin: 0;
  background:  black;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}