@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

/* 🔥 THIS FIXES THE WHITE BOTTOM ISSUE */
html, body {
  min-height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #0f0d2b, #1a1640);
}
